@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    overflow-x: hidden;
    background: #000;
    font-family: 'Montserrat', sans-serif;
}
.blockanimationbg{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}
.blockanimationbg span{
    width: 10%;
    height: 80px;
    background: url(../images/blockimageiphone.jpg);
    background-attachment: fixed;

}
.upcomingbody1{
    opacity: 0;
    animation: animate 1s linear forwards;
    animation-delay: 6.5s;
}

.upcomingbody1 .header{
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

}
.upcomingbody1 .header .logo{
    position: relative;
    color: #fff;
    font-size: 32px;
    text-decoration: none;
    font-weight: 600;
    padding: 40px 100px;
}
.upcomingbody1 .header nav{
    position: relative;
    margin-right: 60px;
    padding: 40px;

}
.upcomingbody1 .header nav ul{
    position: relative;
    display: flex;

}

.upcomingbody1 .header nav ul li{
    list-style: none;

}
.upcomingbody1 .header nav ul li a{
    color: #fff;
    font-size: 22px;
    text-decoration: none;
}
.upcomingbody1 .header nav ul li a:hover{
    color: slategrey;
}
.section1{
    position: absolute;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 0 100px;
}
.section1 .contentbox
{
    position: relative;
    max-width: 600px;
    z-index: 1000;
}
.section1 .contentbox h2{
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;

}
.section1 .contentbox p{
    font-size: 18px;
    color: #fff;
     
}
.section1 .contentbox .countdown{
    display: flex;
    margin: 20px 0px;

}
.section1 .contentbox .countdown .time{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin-right: 20px;
    font-size: 48px;
    min-width: 110px;
    font-weight: 700;
    padding: 10px 5px 15px;
    border-radius: 4px;
    color: black;
    opacity: 0;
    animation: animate 1s linear forwards;
    animation-delay: 8s;
}
.section1 .contentbox .countdown .time span{
    margin-top: -10px;
    font-size: 20px;
    font-weight: 600;

}
.section1 .contentbox a.notify{
    position: relative;
    margin-top: 10px;
    display: inline-block;
    background: slategray;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 40px;
}

.section1 .sci{
    position: absolute;
    bottom: 20px;
    left: 70px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(1);
}
.section1 .sci li{
    list-style: none;
    
}
.section1 .sci li a{
    display: block;
    margin-right: 20px;
    transform: scaleX(0.9);
}
.upcomingbody1 .newsletter{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 600px;
        padding: 60px;
        background: #fff;
        z-index: 10000;
        box-shadow: 0 0 0 100vh rgba(49,39,71,0.95);
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
}
.upcomingbody1 .newsletter h2{
    font-size: 48px;
    color: #313749;
}
.upcomingbody1 .newsletter p{
    font-size: 20px;
    color: #313749;
}
.upcomingbody1 .newsletter .inputbox{
    margin-top: 20px;

}
.upcomingbody1 .newsletter .inputbox input{
    padding: 10px;
    outline: none;
    width: 300px;
    font-size: 18px;
    border: 1px solid #999;

}

.upcomingbody1 .newsletter .inputbox input[type="submit"]{
    padding: 10px;
    outline: none;
    width: 140px;
    color: #fff;
    background: slategray;
    border: 1px solid slategray;
    letter-spacing: 2px;
    box-sizing: border-box;
    cursor: pointer;

}
.upcomingbody1 .newsletter.active{
    visibility: visible;
    opacity: 1;
}
.upcomingbody1 .newsletter .close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;

}

@keyframes animate{
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0.7;
    }
    60%{
        opacity: 0.4;
    }
    80%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}