.action {
    position: fixed;
    bottom: 40px;
    left: 50px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 100000;
}

.action span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #131313;
    font-size: 2em;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}

.action.active span {
    transform: rotate(135deg);
}

.action ul {
    position: absolute;
    bottom: 40px;
    background: #fff;
    min-width: 250px;
    padding: 20px;
    border-radius: 20px;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    opacity: 0;
    list-style: none;
}
.action.active ul{
    bottom: 45px;
    visibility: visible;
    
    opacity: 1;
}
.action ul li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px;
    cursor: pointer;
    transition: 0.3s;

}

.action ul li:hover{
    font-weight: 600;
}

.action ul li:not(:last-child){
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.action ul li img{
    margin-right: 10px;
    opacity: 0.8;
    transform: scale(0.8);
    transition: 0.3s;
}
.action ul li:hover img{
    opacity: 1;
    transform: scale(1);
}